<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Dog Friendly Places Comment Form</h1>
        <p>Add comments to your place here</p>
    </div>

    You enter the following ..<br><br>

    The Beach name was: <%= BeachName %><br><br>
    The score was: <%= score %><br><br>
    The comments were: <%= coms %><br><br>

<%- include('bootfooter') -%>
